*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;    
}

.container{
width: 100%;
position: relative;
height: 100vh;
display: flex;
}

.container .img{
width: 18%;
height: 100%;
cursor: pointer;
transition: all 0.4s;
position: relative;
}

.container .img:hover {
width:700px;

}

.container .img img{
width: 100%;
height: 100%;
object-fit: cover;


}
.container div .span{
display: none;
text-transform: capitalize;
}
.container .img:hover .span{
position: absolute;
display: flex;
background: rgba(0, 0, 0, 0.5);
height: 100vh;
width: 100%;
top: 0;
left: 0;
align-items: center;
justify-content: center;
color: #fff;
font-size: 30px;
}
